<md-dialog aria-label="Movie details" ng-cloak class="movieDiv">
  <form>
	  <md-toolbar>
	    <div class="md-toolbar-tools">
	      <h2>'{{ movieSelected.title }}' Details</h2>
	      <span flex></span>
	      <md-button class="md-icon-button" ng-click="hide()">X</md-button>
	    </div>
	  </md-toolbar>
	  <md-dialog-content>
    	<div style="width: 100%;" >
    		<md-tabs md-dynamic-height md-border-bottom>
			      <md-tab label="Info">
			        <md-content class="md-padding">
			          <img class="movie-main-post" ng-show="movieSelected.poster_path" ng-src="http://image.tmdb.org/t/p/w342{{ movieSelected.poster_path }}" />
				    	<div class="data">
				    		<h1>{{ movieSelected.original_title }}</h1>
				    		<h2>{{ movieSelected.tagline }}</h2>
				    		<span><strong>Release date:</strong>{{ movieSelected.release_date }}</span>
				    		<div layout="row" layout-sm="column" layout-align="space-around" ng-show="!exdended">
					          <md-progress-circular md-mode="indeterminate"></md-progress-circular>
					        </div>
				    		<div ng-hide="!exdended">
					    		<p>
							        {{ movieExtended.overview }}
							    </p> 
							    <p>
							    	<strong>Rating:</strong> {{ movieExtended.popularity | number:1 }}
							    </p>
						    </div>
				    	</div>
			        </md-content>
			      </md-tab>
			      <md-tab label="Images" ng-if="hasImages()">
			        <md-content class="md-padding">
			          	<ul rn-carousel rn-carousel-controls class="imageCarousel">
						  <li ng-repeat="image in movieImages">
						    <div class="layer">
			          			<img ng-src="http://image.tmdb.org/t/p/w780{{ image.file_path }}" />
						    </div>
						  </li>
						</ul>
			        </md-content>
			      </md-tab>
			      <md-tab label="Trailer" ng-if="hasVideo()">
			        <md-content class="md-padding">
		          		<iframe style="margin:0 auto;display: block;"  width="420" height="315" ng-src="{{ getIframeSrc( movieTrailer.key ) }}"></iframe>
			        </md-content>
			      </md-tab>
			      <md-tab label="Cast" ng-if="movieExtended">
			        <md-content class="md-padding">
			        <md-list ng-cloak>
			            <md-list-item ng-repeat="actor in movieExtended.credits.cast">
						    <img alt="{{ actor.name }}" ng-src="http://image.tmdb.org/t/p/w45{{ actor.profile_path }}" class="md-avatar" ng-show="actor.profile_path" />
						    <img alt="{{ actor.name }}" ng-src="http://dummyimage.com/40x40/555/fff.png&text={{ actor.name | limitTo:1 }}" class="md-avatar" ng-hide="actor.profile_path" />
						    <p><strong>{{ actor.character }}</strong> by {{ actor.name }}</p>
						    <md-button  ng-click="openActor(actor)">View movies</md-button>
						  </md-list-item>
						</md-list>
			        </md-content>
			      </md-tab>
		    </md-tabs>
    	</div>
	  </md-dialog-content>
  </form>
</md-dialog>
